// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-image {
  width: 100%;
}

.well {
  min-height: 500px;
}

body {
 
  font-family: 'Rokkitt', serif;
  font-color: 'Black';
  font-size: 2em;
  background-image: url('webtreatsetc-3.jpg');
}

.navbar-brand { font-family: 'Berkshire Swash', cursive; 
}